@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 20px;">Welcome to MavrickFitness</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/pjspWimPAO8" frameborder="0" allowfullscreen></iframe>
</div>

